extends layout.pug

block content
  main.page-content
    include partials/categories.pug
    section.tickets-list
      h2.visually-hidden Самые новые предложения
      .tickets-list__wrapper
        .tickets-list__header
          p.tickets-list__title Самое свежее
        ul
          each offer, index in offers
            li.tickets-list__item
              div(class=`ticket-card ticket-card--color${index >= 9 ? index + 1 : `0${index + 1}`}`)
                .ticket-card__img
                  img(src=`${offer.picture !== `` ? `/img/${offer.picture}` : `/img/blank.png`}` alt=offer.title)
                .ticket-card__info
                  +ticketLabel(offer.type)
                  .ticket-card__categories
                    each item in offer.category
                      a(href="#") #{item}
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href=`/offers/${offer.id}`) #{offer.title}
                    p.ticket-card__price
                      span.js-sum #{offer.sum}
                      |  ₽
                  .ticket-card__desc
                    p #{offer.description}

    section.tickets-list
      h2.visually-hidden Самые обсуждаемые предложения
      .tickets-list__wrapper
        .tickets-list__header
          p.tickets-list__title Самые обсуждаемые
        ul
          each offer, index in offers
            li.tickets-list__item
              div(class=`ticket-card ticket-card--color${index >= 9 ? index + 1 : `0${index + 1}`}`)
                .ticket-card__img
                  img(src=`${offer.picture !== `` ? `/img/${offer.picture}` : `/img/blank.png`}` alt=offer.title)
                .ticket-card__info
                  +ticketLabel(offer.type)
                  .ticket-card__categories
                    each category in offer.category
                      a(href="#") #{category}
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href=`/offers/${offer.id}`) #{offer.title}
                    p.ticket-card__price
                      span.js-sum #{offer.sum}
                      |  ₽
                  .ticket-card__desc
                    p #{offer.description}