extends ../layout.pug

block content
  main.page-content
    section.tickets-list
      h2.visually-hidden Самые новые предложения
      .tickets-list__wrapper
        .tickets-list__header
          a.tickets-list__btn.btn.btn--big(href="/offers/add")
            span Новая публикация
        ul
          each offer, index in offers
            li.tickets-list__item.js-card
              div(class=`ticket-card ticket-card--color${index >= 9 ? index + 1 : `0${index + 1}`}`)
                .ticket-card__img
                  img(src=`${offer.picture !== `` ? `/img/${offer.picture}` : `/img/blank.png`}` alt=offer.title)
                .ticket-card__info
                  +ticketLabel(offer.type)
                  .ticket-card__categories
                    each item in offer.category
                      a(href="#") #{item}
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href="#") #{offer.title}
                    p.ticket-card__price
                      span.js-sum #{offer.sum}
                      |  ₽
                button.ticket-card__del.js-delete(type="button") Удалить